In [2]:
print("poops")

poops

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from matplotlib import pyplot as plt

In [2]:
X = [[0, 0], [1, 1]]
Y = [0, 1]

carDF = pd.read_csv("car/car.data", header=None)
carDF.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "evaluation"]
carDF.head()
# print(carDF.shape)

  buying  maint doors persons lug_boot safety evaluation
0  vhigh  vhigh     2       2    small    low      unacc
1  vhigh  vhigh     2       2    small    med      unacc
2  vhigh  vhigh     2       2    small   high      unacc
3  vhigh  vhigh     2       2      med    low      unacc
4  vhigh  vhigh     2       2      med    med      unacc

In [3]:
# prepping the data
# wondering if I should change the numbering or if it will matter (vhigh to be 3 and low to be 0)
carDF['buying'] = carDF['buying'].map({'vhigh': 0, 'high': 1, 'med': 2, 'low': 3})
carDF['maint'] = carDF['maint'].map({'vhigh': 0, 'high': 1, 'med': 2, 'low': 3})
carDF['doors'] = carDF['doors'].map({'2': 2, '3': 3, '4': 4, '5more': 5})
carDF['persons'] = carDF['persons'].map({'2': 2, '4': 4, 'more': 5})
carDF['lug_boot'] = carDF['lug_boot'].map({'small': 0, 'med': 1, 'big': 2})
carDF['safety'] = carDF['safety'].map({'low': 0, 'med': 1, 'high': 2})
carDF['evaluation'] = carDF['evaluation'].map({'unacc': 0, 'acc': 1, 'good': 2, 'vgood': 3})
carDF.head()
# print(carDF)

   buying  maint  doors  persons  lug_boot  safety  evaluation
0       0      0      2        2         0       0           0
1       0      0      2        2         0       1           0
2       0      0      2        2         0       2           0
3       0      0      2        2         1       0           0
4       0      0      2        2         1       1           0

In [4]:
# Need to split the data into training data and test data

X = carDF.loc[:, "buying" : "safety"]
Y = carDF.loc[:,"evaluation"]

In [5]:
dTree = tree.DecisionTreeClassifier()
dTree.fit(X, Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [ ]:
plt.rcParams.update({'font.size': 12})
fig = plt.figure(figsize=(500,500))
_ = tree.plot_tree(dTree)
fig.savefig("dTree.png")
# import graphviz